:root {
   --bg-color: #1d809f;
   --secondary: #343a40;
   --tertiary: #ecb804;
}

body {
   font-family: 'Roboto';
   font-size: 1.1rem;
   color: var(--secondary);
}

/* HERO STYLING */
.hero {
   background: url(resources/images/bg-masthead.jpg) no-repeat;
   background-position: center;
   height: 400px;
   padding: 2rem;
}

.heading-1 {
   font-size: 3.5rem;
   font-weight: 900;
}

.vertically-centered {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

button {
   padding: 1.5rem 2rem;
   border: none;
   border-radius: 5px;
   color: white;
   background-color: var(--bg-color);
   margin-top: 3rem;
   font-weight: bold;
}

.menu {
   position: absolute;
   right: 1rem;
   top: 1rem;
   background-color: rgba(0, 0, 0, .5);
   border-radius: 5px;
}
 
/* INTRO STYLING */
.intro {
   padding: 2rem;
   height: 400px;
}

.heading-3 {
   font-size: 2rem;
}

.intro > button {
   background-color: var(--secondary);
}

a {
   text-decoration: none;
   color: var(--bg-color);
}

/* SERVICES STYLING */
.services, .buttons {
   background-color: var(--bg-color);
   padding: 100px 0;
}

.yellow-text {
   color: var(--tertiary);
   font-weight: bold;
   font-size: .9rem;
   margin: 0;
}

.heading-2 {
   font-size: 2.5rem;
   font-weight: bold;
}

.services > div > div {
   width: 300px;
}

.services > div > div > div {
   background-color: white;
   width: 4rem;
   height: 4rem;
   margin: auto;
   border-radius: 50%;
   margin-bottom: 1.5rem;
   margin-top: 2.5rem;
}

.services i {
   color: var(--bg-color);
   font-size: 2rem;
}

.heading-4 {
   font-weight: bold;
   font-size: 1.5rem;
   margin: 0;
}

/* WELCOME STYLING */
.welcome {
   background: url(resources/images/bg-callout.jpg) no-repeat;
   background-position: top;
   background-size: cover;
   height: 400px;
}

.welcome p {
   font-size: 3rem;
}

/* PORTFOLIO STYLING */
.portfolio {
   padding: 100px 1rem;
}

li {
   height: 300px;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: end;
   
}

.stationary {
   background-image: 
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(resources/images/portfolio-1.jpg);
}

.ice-cream {
   background-image: 
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(resources/images/portfolio-2.jpg);
}

.strawberries {
   background-image: 
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(resources/images/portfolio-3.jpg);
}

.workspace {
   background-image: 
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(resources/images/portfolio-4.jpg);
}

.stationary, .ice-cream, .strawberries, .workspace {
   background-size: cover;
   background-position: center;
}

/* BUTTON STLYING */
.button-white {
   background-color: white;
   color: var(--secondary)
}

.button-dark {
   background-color: var(--secondary);
}

/* MAP STYLING */
.map {
   overflow: scroll;
}

.link {
   background-color: var(--bg-color);
   border-radius: 50%;
   display: flex;
   width: 3rem;
   height: 3rem;
   justify-content: center;
   align-items: center;
   align-content: center;
}

/* FOOTER */
footer {
   padding: 50px;
   position: relative;
}

.copyright {
   font-size: .8rem;
   color: grey;
}

.move-to-top {
   position: absolute;
   right: 1rem;
   bottom: 1rem;
   background-color: rgba(0, 0, 0, .2);
   width: 2.5rem;
   height: 2.5rem;
   border-radius: 5px;
}

@media (min-width: 1200px) {
   li div {
      width: 500px;
   }
}